*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}


body{
    color:#000000;
    background-color:linen;
    font-size: 18px;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 30px;
}

.main{
    color: blue;
    line-height:2.5;
}

.navbar{
    background-color: black;
    color: white;
    height: 60px;
}

.navbar .container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar a{
    color: white;
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
    color: #ddd;
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}

button {
    padding:5px 50px;
    margin: 5px;
    font-size: large;
    background-color: lightgray;
    border-width: 1;
    border-radius: 5px;
}

button:hover{
    color: red;
    background-color: gray;
}